/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25/06/2017, 22:02:02
    Author     : filipe_oliveira
*/

.medium-icon{
    font-size: 35px !important;
    width: auto !important;
}

.main-raised {
    margin: 0px 0px 50px !important;
    padding-bottom: 30px;
}

h2{
    border-bottom: 1px solid lightgray !important;
}

body{
    background-image: url("../img/fundo.png");
    background-size: 100%;
}

.moodle-icon{
    width: 48px;
    height: 48px;
    display: inline-block;
    -webkit-mask: url('../img/moodleIcon.svg') no-repeat 50% 50%;
    mask: url('../img/moodleIcon.svg') no-repeat 50% 50%;
    -webkit-mask-size: contain;
    mask-size: contain;
    vertical-align: middle;
}

.icon-white{
    background-color: white;
}

.icon-gray{
    background-color: #555555;
}

.list-projects{
    margin-top: 15px;
}

.list-projects .project{
    border-bottom: 1px solid #eee;
    padding: 10px 0 10px 16px;
}

.list-projects .project .project-title{
    font-weight: 600;
}

.list-projects .project .project-title a{
    color: rgba(0,0,0,0.85);
}

.list-projects .function{
    font-size: 25px;
    color: #4c59dc;
    display: inline-block;
    margin-top: 25px;
}


.resumo{
    text-align: justify;
    margin-top: 10px;
}

#projeto-show{
    font-size: 15px;
}

