/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 25/06/2017, 22:02:02
    Author     : filipe_oliveira
*/

.medium-icon{
    font-size: 35px !important;
    width: auto !important;
}

.main-raised {
    margin: 0px 0px 50px !important;
    padding-bottom: 30px;
}

h2{
    border-bottom: 1px solid lightgray !important;
}




.icon-white{
    background-color: white;
}

.icon-gray{
    background-color: #555555;
}

.list-projects{
    margin-top: 15px;
}

.list-projects .project{
    border-bottom: 1px solid #eee;
    padding: 10px 0 10px 16px;
}

.list-projects .project .project-title{
    font-weight: 600;
}

.list-projects .project .project-title a{
    color: rgba(0,0,0,0.85);
}

.list-projects .function{
    font-size: 25px;
    color: #4c59dc;
    display: inline-block;
    margin-top: 25px;
}

.list-projects .project .actions .status{
    margin-bottom: 10px;
}


.resumo{
    text-align: justify;
    margin-top: 10px;
}

#projeto-show{
    font-size: 15px;
}

.btn-link{
    margin: 0 !important;
    padding: 0 !important;
    font-size: inherit !important;
}

.info-animate{
    border: 1px solid rgba(0, 0, 255, 0.53);
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
}

.material-icons {
  vertical-align: middle;
}

/* Drag n' Drop styles*/
.gu-mirror {
  cursor: -webkit-grabbing;
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  filter: alpha(opacity=80);
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}
.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

/* vinculaHomologador styles */
.drop-area {
  min-width: 100%;
  min-height: 250px;
  padding: 8px;
  border: 2px rgba(0,0,0,0) dashed;
  transition: border 0.2s ease-in;
}

.drop-area > * {
  margin: 8px 0px;
}

.drop-area.active {
  border: 2px rgba(0,0,0,0.2) dashed;
}

.material-icons.small {
  font-size: 16px;
}



#loadCadastro{
    width: 100vw;
    margin: 0;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    background: rgba(255,255,255,0.4);
}
#loadCadastro svg path,
#loadCadastro svg rect{
    fill: #4caf50;
}
